/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		RESETS & CORE CLASSES													//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
	list-style-type:none;
	text-decoration:none;
	border:none;
	padding:0;
	margin:0;
	box-sizing:border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

body {
	width: 100%;
	height: auto;
	background-color: #000;
	background-image: url("../img/wood-tile.jpg");
	background-repeat: repeat;
}
body.noscroll {
	overflow: hidden;
}

header {
	position:relative;
	width: 100%;
	height: auto;
	padding:0 20px;
}

h1 {
	padding-top:28px;
}
h1 img {
	height: auto;
}
h3 {
	font-size:30px;
	font-weight:900;
	text-transform:uppercase;
	color:#4e4c4a;
	line-height:32px;
}
h4 {
	font-size:32px;
	font-weight:400;
}

.center {
	text-align: center;
}

.container {
	position: relative;
	width: 92%;
	max-width: 970px;
	height:auto;
	margin:50px auto 0; 
	background: #fffef0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmVmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #fffef0 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fffef0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #fffef0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #fffef0 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #fffef0 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right, #fffef0 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffef0', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
	box-shadow: 0 0 15px #000000;
	overflow:hidden;
}
.container h2 {
	background: rgba(0,0,0,100);
	color:#fffef0;
	font-size:36px;
	font-weight:900;
	letter-spacing:5px;
	text-align:center;
	text-transform:uppercase;
	width:100%;
	max-width:970px;
	height:auto;
	padding:30px 0;
	overflow:hidden;
}
.container hr {
	border-top:1px solid #e2e0e0;
	width:15%;
	margin:20px auto;
}

.rough-edge {
	background:url('../img/rough-line.png');
	width:100%;
	max-width:970px;
	height:8px;
}

a.button {
	color:#545353;
	background:rgba(255,255,255,0);
	font-family: "brandon-grotesque", Arial, sans-serif;
	font-size:16px;
	font-weight:900;
	letter-spacing:1px;
	text-transform: uppercase;
	border:1px solid #545353;
	border-radius:5px;
	margin: 50px auto 55px auto;
	padding: 20px 40px;
	display: inline-block;
	cursor:pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
a.button:hover {
	background:rgba(255,255,255,1);
	color:#000000;
	border:1px solid #000000;
}

/* Form */
form.contact-form {
	width:90%;
	max-width:455px;
	height:auto;
	margin:66px auto;
	text-align:center;
}
input[type="email"], input[type="text"], textarea, select {
	height:48px;
	padding:6px 10px;
	background-color:#ffffff;
	border:1px solid #545353;
	border-radius:5px;
	box-shadow:none;
	width:100%;
	font-size:22px;
	font-weight:400;
	margin-bottom:20px;
}
input[type="submit"] {
	height:48px;
	padding:0 50px;
	display:inline-block;
	text-align:center;
	font-size:22px;
	font-weight:400;
	color:#ffffff;
	white-space:nowrap;
	border-radius:5px;
	background-color:#999999;
	cursor:pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
}
input[type="submit"]:hover {
	background-color:#000000;
}
textarea {
	min-height:128px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Hamburger Menu & Overlay												//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.top-animate {
    background: #ffffff !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mid-animate {
    opacity: 0;
}
.bottom-animate {
    background: #ffffff !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}
.top-menu {
    top: 0;
    width: 50px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.mid-menu {
    top: 15px;
    width: 50px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.bottom-menu {
    top: 30px;
    width: 50px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.menui {
    background: #ffffff;
    transition: 0.4s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 34px;
    position: absolute;
}

.icon {
    z-index: 999;
    position: fixed;
    display: block;
    padding: 25px;
    height: 100px;
    width: 100px;
    margin: 0px;
    top: 7%;
    right: 2%;
    background-color:rgba(0,0,0,0.7);
    border-radius: 50%;
}

.mobilenav {
	position: absolute;
    font-family: inherit;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}
.mobilenav > ul {
	position: absolute;
	height: 420px;
	width: 100%;
	top: 50%;
	margin-top: -210px;
}

.mobilenav > ul > li {
    list-style-type: none;
    text-align: center;
}
.mobilenav > ul > li a {
    color: #ffffff;
	font-family: "brandon-grotesque", Arial, sans-serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    display:table;
}
.mobilenav > ul > li > a:hover {
	background-color:#323232;
}

.social-icons {
	width:100%;
	text-align:center;
	margin-top: 30px;
}
.social-icons ul li {
	display: inline-block;
	margin: 0 10px;
	height: 20px;
	width: 20px;
	background-image: url('../img/social.png');
	background-repeat: no-repeat;
	padding:0;
}
.social-icons ul li:hover{
	background-position-y:-22px;
}
.social-icons ul li.twitter{
	width: 24px;
	background-position:0 0;
}
.social-icons ul li.twitter:hover{
	background-position:0 -22px;
}
.social-icons ul li.linkdin{
	background-position:-27px 0;
}
.social-icons ul li.linkdin:hover{
	background-position:-27px -22px;
}
.social-icons ul li.facebook{
	background-position:-51px 0;
}
.social-icons ul li.facebook:hover{
	background-position:-51px -22px;
}
.social-icons ul li.instagram{
	background-position:-75px 0;
}
.social-icons ul li.instagram:hover{
	background-position:-75px -22px;
}
.social-icons ul li.pinterest{
	background-position:-99px 0;
}
.social-icons ul li.pinterest:hover{
	background-position:-99px -22px;
}
.social-icons ul li a {
	font-size: initial;
}

div.content img {
	width:100%;
	height:auto;
}
.clear {
    display:block;
    clear:both;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Common Modules															//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

div.atomic-header {
	text-align: center;
	width:100%;
	max-width:778px;
	min-height: 280px;
	background-image: url("../img/atomic-bg.png");
	background-size: cover;
	padding-bottom: 15px;
	margin:0 auto 60px auto;
}

div.atomic-header h3 {
	display: block;
	text-align: center;
	width: 100%;
	padding: 35px 35px 20px 35px;
}

div.atomic-header div.body p {
	color: #4e4c4a; 
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	width: 90%;
	margin: 0px auto 20px auto;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Homepage																//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

ul.recent-work {
	width:100%;
	max-width:900px;
	height:auto;
	margin:66px auto 0;
	text-align:center;
	display:table;
}
ul.recent-work li {
	width: 33%;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 60px;
	display: inline-table;
}
ul.recent-work li p a:link {
	font-size:20px;
	font-weight:900;
	color:#000000;
}
ul.recent-work li p a:hover {
	text-decoration:underline;
}
ul.recent-work li p a:visited {
	color:#000000;
}
ul.recent-work li img {
	width:100%;
	max-width:243px;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -ms-transition: all .3s ease; /* IE 9 */
    -o-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}
ul.recent-work li img:hover {
    opacity:.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

ul.what-we-do {
	width:90%;
	max-width:900px;
	height:auto;
	margin:66px auto 0;
}
ul.what-we-do li {
	float:left;
	width:25%;
	text-align:center;
	margin-bottom:66px;
	color:#222222;
}
ul.what-we-do li img {
	width:100px;
}
ul.what-we-do li span {
	display: block;
	color: #000 !important;
	font-size: 16px !important;
	font-weight: 900;
	padding-top: 20px;
	text-transform: uppercase;
}

div.contact-details {
	font-size:22px;
	font-weight:400;
	width:100%;
	max-width:616px;
	margin:0 auto;
	text-align:center;
}
div.contact-details a:link, div.contact-details a:visited {
	color:#000000;
}
div.contact-details a:hover {
	font-weight:400;
	text-decoration:underline;
}

body.home .content {
	padding-top: 35px;
}
body.home .content p {
	font-size:24px;
	line-height:26px;
	color:#545353;
	width:90%;
	max-width:616px;
	margin: 15px auto;
	margin-bottom: 10px;
}

body.home .content.what_we_do {
	padding-top: 0px;
}
body.home .content.what_we_do a.button {
	margin: 15px auto 65px auto;
}

div.back-to-top {
	width:200px;
	margin:0 auto;
	text-align:center;
}
div.back-to-top a {
	color:#545353;
	background:transparent;
	font-family: "brandon-grotesque", Arial, sans-serif;
	font-size:16px;
	font-weight:900;
	letter-spacing:1px;
	border-top:1px solid #545353;
	border-left:1px solid #545353;
	border-right:1px solid #545353;
	border-radius:5px 5px 0 0;
	margin:100px auto 0 auto;
	padding:20px 40px 15px;
	display:block;
	cursor:pointer;
	text-transform:uppercase;
	background:rgba(255,255,255,0);	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
div.back-to-top a:hover {
	background:rgba(255,255,255,1);
	color:#000000;
	border:1px solid #000000;	
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Capabilities Page														//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.capabilities-container {
	width:100%;
	height:auto;
	margin-top: 66px;
	margin-bottom: 250px;
}

.capabilities-container div.atomic-header {
	margin-bottom: 25px;
}

.capabilities-container h2 {
	color: #222;
	background: none;
	margin-top: 20px;
	padding-top: 35px;
}

.capabilities-container div.rough-edge {
	max-width: 778px;
	margin: 0px auto;
}

.capabilities-container div hr {
	width:100% !important;
}

.capabilities-container ul.what-we-do {
    margin-top: 20px;
}
.capabilities-container ul.what-we-do li {
    margin-bottom: 35px;
}

ul.capabilities-list {
	width:100%;
	max-width:778px;
	height:auto;
	margin: 15px auto 35px auto;
	text-align:left;
	display: table;
}
ul.capabilities-list li {
	width: 100%;
	height: 75px;
	padding: 8px 20px 8px 30px;
	font-size:28px;
	color:#222;
	display: table-row;
	vertical-align: middle;
}
ul.capabilities-list li i {
	color:#222;
	margin-right:30px;
	text-align:center;
}
ul.capabilities-list li span {
	display: table-cell;
	vertical-align: middle;
}
ul.capabilities-list li span.li-icon {
	width: 18%;
	text-align: center;
	padding-left: 50px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		About Us Page															//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.about-container {
	width:100%;
	max-width:778px;
	height:auto;
	margin:66px auto 100px;
}

.about-container h2 {
	color: #222;
	text-align:left;
	background: none;
	padding:0;
}

.about-container hr {
	margin-top: 45px;
	margin-bottom: 35px;
	width:100% !important;
}

.about-container p {
	color: #222;
	font-size: 20px;
    margin: 20px auto 30px;	
}

ul.about-us-profile {
	width:100%;
	max-width:778px;
	height:auto;
	margin:20px auto 25px;
	display:table;
}
ul.about-us-profile li.headshot {
	width:50%;
	float:left;
}

li.headshot img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-webkit-filter: grayscale(1);
	filter:gray;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
li.headshot img:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-webkit-filter: grayscale(0);
	filter:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
ul.about-us-profile li.name, li.title, li.blurb {
	color: #222;
	float:right;
	width:45%;
}
li.name {
	padding-top:30px;
	font-weight:900;
	font-size:32px;
}
li.title {
	font-weight:400;
	font-style:italic;
	font-size:24px;
}
li.blurb {
	padding-top:15px;
	font-size:28px;
	line-height:28px;
	color:#595959;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Work Detail Page														//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.work-detail-container {
	width:100%;
	max-width:778px;
	height:auto;
	margin:60px auto 100px;
}
div.work-detail-container ul li img {
	display:block;
	width:100%; 
}
p.work-detail-leadin-copy {
	margin:40px auto 33px auto;
	font-size:28px;
	line-height:32px;
	color:#585858;
}
div.work-detail-container p {
	color: #222;
	font-size: 20px;
	margin: 15px auto;
}
div.work-detail-container iframe {
	margin-top: 12px;
}
div.work-detail-container hr {
	width:30%;
}
ul.work-detail-share-icons {
	display:table; 
	margin:42px auto; 
}
ul.work-detail-share-icons li {
	display:inline-table;
	margin:0 10px;
}
i.fa.fa-google-plus-square.fa-3x, i.fa.fa-twitter-square.fa-3x, i.fa-facebook-square.fa-3x {
	webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
i.fa.fa-google-plus-square.fa-3x {
	color:#dd4b39;
}
i.fa.fa-twitter-square.fa-3x {
	color:#42c0fb;
}
i.fa.fa-facebook-square.fa-3x {
	color:#3a5795;
}
i.fa.fa-google-plus-square.fa-3x:hover {
	opacity:.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
i.fa.fa-twitter-square.fa-3x:hover {
	opacity:.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
i.fa.fa-facebook-square.fa-3x:hover {
	opacity:.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
i.fa.fa-tag {
	color:#dd4b39;
}	
ul.work-detail-tags {
	display:table; 
	margin:42px auto;
	text-align:center;
}
ul.work-detail-tags li {
	display:inline-table;
	padding:0 20px;
}
ul.work-detail-tags p a {
	font-size:12px;
	text-transform:uppercase;
	color:#dd4b39;
	display:inline-table;
	padding-right:5px;
}
ul.work-detail-tags p a:hover{
	text-decoration:underline;
}
ul.work-detail-tags p a:visited {
	color:#dd4b39;
}
ul.work-detail-screenshots {
	display:table;
	margin:33px auto 0;
}
ul.work-detail-screenshots li {
	display:inline-table;
	width:33%;
	padding:15px;
}
ul.work-detail-screenshots li a img {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
ul.work-detail-screenshots li a img:hover {
	opacity:.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Category  / Blog														//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

div.basic-content {
	width:100%;
	max-width:778px;
	height:auto;
	margin:0 auto;
}	
p.basic-content-date {
	font-size:16px;
	font-weight:400;
	color:#dd4b39;
	margin-bottom:30px;
}
.basic-content-hero {
	position:relative;
	width:100%;
	max-width:778px;
	height:auto;
	margin:0 auto;
	text-align:center;
	box-sizing:border-box;
}
.basic-content-hero img.basic-hero {
	width:100%;
	height:auto;
}

div.blog-container {
	width:100%;
	max-width:616px;
	height:auto;
	margin:66px auto;
}

div.blog-container hr {
	width:100%;
}
.blog-container .basic-content-hero {
	width:100%;
	max-width:324px;
	height:auto;
	margin:0 auto;
}
.blog-container img {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.blog-container img:hover {
	opacity:.7;
	filter: alpha(opacity=1); /* For IE8 and earlier */
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.blog-container h3 {
	font-size:26px;
	text-align:center;
	margin:15px auto;
}
.blog-container h3 a:link {
	color:#4e4c4a;
}
.blog-container h3 a:hover {
	text-decoration:underline;
}
.blog-container h3 a:visited {
	color:#4e4c4a;
}
.blog-container p.basic-content-date {
	text-align:center;
	margin:15px auto;
}
.blog-container p.basic-content-excerpt {
	color:#8b8b8b; 
	font-size:20px;
	line-height:24px;
	text-align:center;
	margin-top:0px;
}
.blog-container ul.work-detail-tags {
	margin:15px auto 30px auto;
}
.blog-container div.basic-content {
	margin-top:30px;
}
ul.blog-content-navigation {
	display:table;
	width:100%;
	max-width:616px;
	margin:66px auto;
	text-align:center;
}
ul.blog-content-navigation li {
	display:inline-table;
	padding:10px;
}
ul.blog-content-navigation li.older-posts a i {
	margin-right: 20px;
}
ul.blog-content-navigation li.newer-posts a i {
	margin-left: 20px;
}
ul.blog-content-navigation li a:link {
	color:#4e4c4a;
	font-size:18px;
	text-transform:uppercase;
}
ul.blog-content-navigation li a:hover {
	color:#000;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Footer																	//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

body .footer h2 {
	color: #747473;
	background: none;	
}
body form.footer-contact-form{
	margin-top: 0px;
}

div.footer {
	background: #f9f7f5;
	border-top:1px solid #e2e0e0;
	display:table;
	width:100%;
	max-width:970px;
}
.copyright-links {
	width:100%;
	max-width:760px;
	height:auto;
	margin:0 auto;
	display:table;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;	
	text-align:center;
	padding:42px 0;	
}
.copyright-links p {
	color:#a0a09e;
	display:inline-table;
	font-weight: 400;
	text-align:left;
	width:100%;
	max-width:250px;
}
.copyright-links ul {
	display:inline-table;
	width:100%;
	max-width:498px;
	text-align:right;
}
.copyright-links ul li {
	display:inline-table;
	padding-left:42px;
}	
.copyright-links ul li a:link{
	color:#747473;
}
.copyright-links ul li a:hover {
	color:#222 !important;
}
.copyright-links ul li a:visited {
	color:#747473;
}
div.footer hr {
	width:100%;
	margin:0;
}
form.footer-contact-form {
	display:table;
	width:100%;
	height:auto;
	margin:42px auto;
	text-align:center;
	max-width:778px;
}
form.footer-contact-form  input[type="email"], form.footer-contact-form   input[type="text"] {
	width:48%;
	border:1px solid #e2e0e0;
	font-size:18px;
	margin-bottom:15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
	box-sizing:border-box;
}
form.footer-contact-form   textarea {
	border:1px solid #e2e0e0;
	font-size:18px;
	margin-bottom:10px;
	width:97%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
	box-sizing:border-box;
}
form.footer-contact-form   select {
	width:48%;
	border:1px solid #e2e0e0;
	font-size:18px;
	margin-bottom:15px;
	background: url('../img/down-arrow.png') no-repeat scroll 96% center;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
}
form input[data-placeholder] {
	color:#a9a9a9;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Lightbox																//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

#lightcase-overlay {
	background-color: #000 !important;
}

#lightcase-case .lightcase-caption {
	color: #FFF !important;
	font-size: 24px !important;
}

@media screen and (max-width: 640px) {
	#lightcase-case .lightcase-caption {
		font-size: 20px !important;
	}
	#lightcase-case {
		text-shadow: none !important;
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Media Queries / Header & Structure										//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1024px) {
	header h1 {
		padding-top: 26px;
	}
	header h1 img {
		width: 600px;
	}
	body {
		background-size: 257px;
	}
}

@media screen and (max-width: 992px) {
	header h1 {
		padding-top: 23px;
	}
	header h1 img {
		width: 500px;
	}
	body {
		background-size: 216px;
	}
}

@media screen and (max-width: 768px) {
	header h1 {
		padding-top: 19px;
	}
	header h1 img {
		width: 400px;
	}
	body {
		background-size: 174px;
	}
	.icon {
		width: 65px;
		height: 65px;
		padding: 18px;
	}
	.menui {
		width: 30px;
		margin-top: 23px;	
	}
	.mid-menu {
		top:9px;
	}
	.bottom-menu {
		top:18px;
	}	
}

@media screen and (max-width: 480px) {
	header h1 {
		padding-top: 15px;
	}
	header h1 img {
		width: 300px;
	}
	body {
		background-size: 131px;
	}
}

@media screen and (max-width: 320px) {
	header h1 {
		padding-top: 13px;
	}
	header h1 img {
		width: 260px;
	}
	body {
		background-size: 114px;
	}
}

@media screen and (min-width: 1024px) {
	header h1 {
		padding-top: 31px;
	}
	header h1 img {
		width: 700px;
	}
	body {
		background-size: 300px;
	}
}

@media screen and (max-width:900px) {
	ul.recent-work li {
		width:43%;
		padding:2%;
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////		Media Queries / Responsiveness											//////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 800px) {
	h3 {
		width:92%;
		margin:0 auto;
		height:auto;
	}
	p.basic-content-date {
		width:92%;
		margin-left: auto;
		margin-right:auto;
		height:auto;
	}
	div.basic-content-container hr {
		width:92%;
		margin-left:auto;
		margin-right:auto;
	}
	ul.basic-content-navigation {
		width:92%;
		height:auto;
		margin:0 auto;
	}
	p.work-detail-leadin-copy {
		font-size:24px;
		width:92%; 
	}
	p.work-detail-body-copy {
		width:92%;
		margin-left:auto;
		margin-right:auto;
	}
	.copyright-links {
		padding:22px 0;
	}
	.copyright-links p {
		text-align:center;
	}	
	.copyright-links ul {
		text-align:center;
	}
	.copyright-links ul li {
		padding:12px;
	}
	ul.about-us-profile {
		padding:15px;
	}
	.work-detail-container h2 {
		padding-left:15px;
	}
	div.blog-container hr {
		width:92%;
	}
}

@media screen and (max-width: 700px) {
	ul.about-us-hero {
		height:350px;
	}
}

@media screen and (max-width: 600px) {
	.fa-5x {
		font-size:4em !important; 
	}
	a.button {
		width:100%;
		max-width:74%;
		font-size:14px;
		padding:20px 0;
	}
	form.footer-contact-form input[type="email"], form.footer-contact-form input[type="text"], form.footer-contact-form select {
		width:92% !important;
		margin-right:0 !important;
		margin-left:0 !important;
		max-width:92% !important;;
	}
	form.footer-contact-form textarea {
		width:92%;
	}
	.container {
		margin-top:30px;
	}
	.container h2 {
		font-size:32px;
	}
	ul.about-us-hero li.left {
		width:100%;
		margin-bottom:24px;
	}
	ul.about-us-hero li.right {
		width:100%;
		margin-bottom:24px;
	}
	ul.about-us-hero {
		background:none;
	}
	.work-detail-container div hr {
		width:94% !important;
	}
	.work-detail-container h2 {
		text-align:center;
	}
	ul.about-us-profile {
		padding:15px;
	}
	ul.about-us-profile li.headshot {
		width:100%;
		margin:0 auto;
		float:none;
	}
	ul.about-us-profile li.name, li.title, li.blurb {
		width:100%;
		margin:0 auto;
		float:none;
	}
	p.work-detail-body-copy {
		font-size:18px;
		line-height:22px;
	}
	li.name {
		padding-top:15px;
		font-size:28px;
	}
	li.title {
		font-size:20px;
	}
	li.blurb {
		font-size:24px;
		line-height:24px;
	}
	ul.blog-content-navigation li a:link {
		font-size:16px;
	}
	ul.blog-content-navigation li {
		padding:7px;
	}

	ul.atomic-header li.headline h3 {
		font-size:22px;
		padding:30px;
	}
	ul.atomic-header li.body p {
		padding:50px 20px 0 20px;
	}
	.work-detail-container h4 {
		font-size:28px;
	}
	ul.capabilities-list li {
		font-size:24px;
	}
	ul.what-we-do li {
		width:33%;
	}
}

@media screen and (max-width: 480px) {
	.mobilenav > ul {
		height: 236px;
		top: 50%;
		margin-top: -100px;
	}
	.mobilenav > ul > li a {
		font-size:30px;
		letter-spacing: 3px;
	}
	.social-icons {
		margin-top: 17px;
	}
	ul.recent-work li {
		margin-bottom:
	}	
}	

@media screen and (max-width: 414px) {
	.top-animate {
		top:9px !important;
	}
	.bottom-animate {
		top:9px !important;
	}
	.container {
		width:100%;
		margin-top:20px;
	}
	h3 {
		font-size:24px;
		line-height:26px;
	}
	.clear-menu-btn span {
		width:45px;
		height:2px;
	}
	.clear-menu-btn {
		height:64px;
	}
	.menu-btn-container {
		width:60px;
		right:2%;
		top:1%;
	}
	li.next-post a:link, li.previous-post a:link {
		font-size:16px;
	}
	.container h2 {
		font-size:24px;
		padding:15px 0;
	}	
	ul.what-we-do li {
		width:50%;
	}
	ul.recent-work li {
		width:100%;
	}
	ul.recent-work li img {
		width:75%;
	}
	ul.work-detail-screenshots li {
		width:50%;
		padding:10px;
	}
	body.home .content p {
		font-size:21px;
		width:80%;
	}
	input[type="email"], input[type="text"], textarea, select {
		font-size:18px;
	}
	form.contact-form {
		margin:35px auto 60px;
	}
	.blog-container .basic-content-hero {
		width:92%;
		max-width:none;
	}
	.blog-container h3 {
		font-size:22px;
	}
	ul.atomic-header li.background {
		background-color: #dfd0bf;
		height: 225px;
	}
	ul.atomic-header li.body p {
		line-height:20px;
	}	
	ul.capabilities-list li {
		font-size:20px;
	}
	.work-detail-container h4 {
		font-size:24px;
	}
}
@media screen and (max-width: 320px) {
	ul.blog-content-navigation li {
		padding:5px;
	}
	ul.blog-content-navigation li a:link {
		font-size:14px;
	}
	.container h2 {
		font-size:22px;
	}
	ul.atomic-header li.background {
		height:240px;
	}
	ul.atomic-header li.headline h3 {
		font-size:18px;
	}
	.work-detail-container h4 {
		padding-left:20px;
		font-size:22px;
	}
	ul.capabilities-list li {
		padding:8px 15px 8px 30px;
		font-size:18px;
	}
}